@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  /* background: #000000; */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* .nav {
  width: 100px;
  height: 50px;
  background-color: #fff;
} */

.ninelogo {
  width: 100px;
  height: 100px;
}
.giticon {
  width: 35px;
  height: 35px;
}

.gmailicon {
  width: 35px;
  height: 35px;
}

.instaicon {
  width: 35px;
  height: 35px;
}

.facebookicon {
  width: 35px;
  height: 35px;
}

.mainWallpaper {
  width: 100%;
  height: 100%;
  position: absolute;
  /* opacity: 0.5 ; */
  /* z-index: -1;  */
  object-fit: cover;
}

.logoimg {
  position: relative;
  width: 60px;
  height: 60px;
  padding-right: 20px;
}

.joinWallpaper {
  position: absolute;
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0 auto; */
}

.kakaologin {
  width: 55px;
  height: 55px;
  /* box-sizing: border-box; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 420px;
}

.naverlogin {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 400px;
}

.slideOne {
  width: 100%;
  float: left;
}

.slideTwo {
  width: 100%;
  float: left;
}

.slideThree {
  width: 100%;
  float: left;
}

.mypicks {
  width: 220px;
  height: 60px;
  padding-top: 1rem;
}

.profileIcon {
  width: 130px;
  height: 130px;
  /* margin: 50px auto;
  display: flex; */
}

button {
  cursor: pointer;
}

.mainYoutubeLogo {
  width: 200px;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
}

.mainNetflixLogo {
  width: 200px;
  height: 80px;
  padding-top: 20px;
  padding-left: 20px;
}

.mainWatchaLogo {
  width: 200px;
  height: 80px;
  padding-top: 20px;
  padding-left: 20px;
}

.parallax {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.image {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  display: flex;
  transition: all 0.4s ease-in-out;
}

span {
  margin: auto;
  font-size: 2rem;
}

.image:nth-child(1) {
  background-image: url('/public/img/watchaslide.png');
  transform: rotateY(0deg) translateZ(430px);
  background-size: cover;
}

.image:nth-child(1):hover {
  transform: scale(2) rotateY(0deg) translateZ(430px);
}

.image:nth-child(2) {
  background-image: url('/public/img/yotubeslide.png');
  transform: rotateY(40deg) translateZ(430px);
  background-size: auto;
}

.image:nth-child(3) {
  background-image: url('/public/img/netflixslide.jpeg');
  transform: rotateY( 80deg) translateZ(430px);
  background-size: cover;
}
.image:nth-child(3):hover{
  transform: scale(1) rotateY(80deg) translateZ(430px);
}

.image:nth-child(4) {
  background-image: url('/public/img/disneyslide.jpeg');
  transform: rotateY(120deg) translateZ(430px);
  background-size: cover;
}
.image:nth-child(4):hover {
  transform: scale(2) rotateY(0deg) translateZ(430px);
}

.image:nth-child(5) {
  background-image: url('/public/img/wavveslide.jpeg');
  transform: rotateY(160deg) translateZ(430px);
  background-size: cover;
}
.image:nth-child(5):hover {
  transform: scale(2) rotateY(0deg) translateZ(430px);
}

.image:nth-child(6) {
  background-image: url('/public/img/tvingslide.jpeg');
  transform: rotateY(200deg) translateZ(430px);
  background-size: cover;
}
.image:nth-child(6):hover {
  transform: scale(2) rotateY(-200deg) translateZ(430px);
}

.image:nth-child(7) {
  background-image: url('/public/img/slideseven.png');
  transform: rotateY(240deg) translateZ(430px);
  background-size: cover;
}

.image:nth-child(7):hover{
  transform: scale(2) rotateY(-240deg) translateZ(-430px);
}

.image:nth-child(8) {
  background-image: url('/public/img/slidenine.jpeg');
  transform: rotateY(280deg) translateZ(430px);
  background-size: cover;
}
.image:nth-child(8):hover {
  transform: scale(2) rotateY(-280deg) translateZ(430px);
}

.image:nth-child(9) {
  background-image: url('/public/img/slideeight.jpeg');
  transform: rotateY(320deg) translateZ(430px);
  background-size: cover;
}

.image:nth-child(9):hover{
  transform: scale(2) rotateY(-320deg) translateZ(-430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.btn-hover {
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.youtubebtn {
  width: 200px;
  height: 45px;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  font-weight: 300;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.wavvebtn {
  width: 200px;
  height: 45px;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mySavebtn {
  width: 400px;
  height: 45px;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  font-weight: 300;
  font-size: 1.5rem;
  border: none;
}
.watchabtn {
  width: 200px;
  height: 45px;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  border: none;
}
.tvingbtn {
  width: 200px;
  height: 45px;
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  color: rgb(255, 255, 255);
  border-radius: 5px; 
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  border: none;
}
.disneybtn {
  width: 200px;
  height: 45px;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  color: #fff;
  border-radius: 5px; 
  font-weight: 300;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  border: none;
}
